In [111]:
import pandas as pd
import numpy as np
import requests
import time , json
from datetime import datetime, timedelta
from requests import Session
from cryptocmd import CmcScraper

In [119]:
# CoinmarketCap API Set up
# Documentation link: https://coinmarketcap.com/api/documentation/v1/#operation/getV1CryptocurrencyMap
cmc_api_key = 'x'

# We want to get the top 30 market cap coins
cmc_url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'

headers = {
    'Accepts': 'application/json',
    'X-CMC_PRO_API_KEY': cmc_api_key
} 

parameters = { 'sort': 'market_cap' , 'start' : 1, 'limit' : 4000}
session = Session() # Create new session object to manage API requests
session.headers.update(headers) #Update the session headers with the specified headers


response = session.get(cmc_url, params=parameters) # Receiving the response from the API

info = json.loads(response.text)
df = pd.json_normalize(info['data'])

In [120]:
df = df[['name',	'symbol', 'quote.USD.market_cap', 'date_added']]
df = df[df["quote.USD.market_cap"] > 1000000]
df.to_csv("top2000Coins.csv")

In [ ]:
historicalData = pd.DataFrame(data, columns=['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap', 'Time Open', 'Time High', 'Time Low', 'Time Close'])
start = '01-01-2014'
end = '31-12-2023'
#hist = {}


for index, row in df.iterrows():
    sym = row['symbol']
    try:
        if sym not in hist.keys():
            scraper = CmcScraper(sym, start, end)
            s = scraper.get_dataframe()
            hist[sym] = s
            print(i)
        i = i + 1
    except:
        i = i + 1

In [124]:
len(df)

1737

In [135]:
data = pd.DataFrame(columns=['Symbol','Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap', 'Time Open', 'Time High', 'Time Low', 'Time Close'])

for h in hist.keys():
    l = hist[h]
    l['Symbol'] = h
    data = pd.concat([data, l])

/var/folders/6n/xjznq69x05l4v5yr5j15rnt40000gn/T/ipykernel_85393/4232802021.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data, l])

In [140]:
data.head()

,Symbol,Date,Open,High,Low,Close,Volume,Market Cap,Time Open,Time High,Time Low,Time Close
0,BTC,2023-12-31,42152.098454,42860.937392,41998.255346,42265.185655,1.639750e+10,8.278112e+11,2023-12-31T00:00:00.000Z,2023-12-31T09:46:00.000Z,2023-12-31T02:53:00.000Z,2023-12-31T23:59:59.999Z
1,BTC,2023-12-30,42091.752644,42584.123640,41556.225992,42156.901150,1.601393e+10,8.256468e+11,2023-12-30T00:00:00.000Z,2023-12-30T16:18:00.000Z,2023-12-30T09:45:00.000Z,2023-12-30T23:59:59.999Z
2,BTC,2023-12-29,42614.643892,43124.325860,41424.060641,42099.402809,2.600002e+10,8.244842e+11,2023-12-29T00:00:00.000Z,2023-12-29T14:43:00.000Z,2023-12-29T22:21:00.000Z,2023-12-29T23:59:59.999Z
3,BTC,2023-12-28,43468.198063,43804.781418,42318.548862,42627.853531,2.299209e+10,8.347916e+11,2023-12-28T00:00:00.000Z,2023-12-28T00:39:00.000Z,2023-12-28T16:28:00.000Z,2023-12-28T23:59:59.999Z
4,BTC,2023-12-27,42518.468528,43683.159808,42167.583486,43442.854558,2.526094e+10,8.507208e+11,2023-12-27T00:00:00.000Z,2023-12-27T22:18:00.000Z,2023-12-27T03:34:00.000Z,2023-12-27T23:59:59.999Z

In [139]:
data.to_csv("Historical_data_backup.csv")